.RecipeCardWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.RecipeCardImageWrapper {
  width: 200px;
  overflow: hidden;
}
.RecipeCardImageWrapper img {
  max-width: 100%;
  height: auto;
  display: block; /* Optional: Removes any extra spacing that might occur */
}

.RecipeCardTextWrapper {
  padding-left: 24px;
  margin-left: 24px;
  border-left: 1px solid rgb(205, 22, 25);
}
.RecipeCardEnglishName {
  font-size: 30px;
  text-transform: uppercase;
}

.RecipeCardChineseName {
  text-align: left;
  color: rgb(205, 22, 25);
  font-weight: 100;
  font-size: 20px;
}
