.RecipeCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 12px;
  max-width: 400px;
}

.RecipeCardImageWrapper {
  width: 100%;
  height: 150px;
  display: flex; /* Add flex display */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
  border-radius: 12px;
}
.RecipeCardImageWrapper img {
  max-width: 100%;
  height: auto;
  align-items: left;
  display: block; /* Optional: Removes any extra spacing that might occur */
}

.RecipeCardTextWrapper {
}
.RecipeCardEnglishName {
  padding-left: 12px;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
  border-left: 1px solid rgb(205, 22, 25);
  max-width: 100%;
  white-space: break-spaces;
}

.RecipeCardChineseName {
  padding-left: 12px;
  text-align: left;
  color: rgb(205, 22, 25);
  font-weight: 100;
  margin-bottom: 8px;
  font-size: 14px;
  border-left: 1px solid rgb(205, 22, 25);
}
