.ingredientWrapper {
  display: flex;
  justify-content: space-between;
  padding: 4px 0 4px 0;
  width: 100%;
}
.ingredientWrapperRed {
  display: flex;
  justify-content: space-between;
  padding: 4px 0 4px 0;
  width: 100%;
  background-color: rgba(205, 22, 25, 0.03);
}
.ingredientLeft {
}
.ingredientChineseWrapper {
  display: flex;
}
.ingredientName {
  font-family: "proxima nova";
  font-size: 20px;
  text-transform: capitalize;
  line-height: 24px;
  text-align: left;
  font-family: "Proxima Nova", Georgia, sans-serif;
}
.ingredientNameWithPadding {
  font-family: "proxima nova";
  font-size: 20px;
  text-transform: capitalize;
  line-height: 24px;
  text-align: left;
  font-family: "Proxima Nova", Georgia, sans-serif;
  padding-top: 4px;
}
.ingredientChineseName {
  padding-left: 4px;
  color: rgba(0, 0, 0, 0.37);
  text-align: left;
}
.ingredientChineseNameWithPadding {
  padding-left: 4px;
  color: var(--subtext-color);
  text-align: left;
  padding-top: 4px;
}
.ingredientNotes {
  font-family: "proxima nova";
  font-size: 16px;
  color: var(--subtext-color);
  margin-top: -4px;
  text-align: left;
  font-family: "Proxima Nova", Georgia, sans-serif;
}
.ingredientNotes::first-letter {
  text-transform: capitalize;
}
.ingredientRight {
  font-family: "proxima nova";
  font-size: 20px;
  color: var(--subtext-color);
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: "Proxima Nova", Georgia, sans-serif;
}
