.mainPageHeader {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  margin: 0px 18px 40px 18px;
}

.mainPageHeader {
  display: flex;
  justify-content: space-between;
}

.mainPageHeader img {
  margin-right: 24px;
}

.mainPageBanner {
  display: flex;
}

.mainPage {
  width: 100%; /*TODO: fix the width of the main menu */
}

.mainPageRecipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mainSearchInput[type="text"] {
  width: 115px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("./public/magnify.svg");
  background-size: 24px 24px;
  background-position: 4px 8px;
  background-repeat: no-repeat;
  padding: 10px 16px 8px 36px;
  transition: width 0.4s ease-in-out;
}

#mainSearchInput[type="text"]:focus {
  width: 280px;
  background-image: url("./public/magnify-red.svg");
  border: 2px solid rgb(205, 22, 25) !important;
}
