.mainPageHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.mainPageHeader .mainPageBanner {
  display: flex;
  align-items: center;
}

.mainPageHeader .mainPageBanner::before {
  content: "";
  display: block;
  width: 50px;
  height: 100%;
  background-image: url("../logo_large.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  padding-right: 50px;
  border-right: 1px solid rgb(205, 22, 25);
}

.mainPageLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainPageLogoTop {
  padding: 0;
  margin: 0;
  t-size: 3em;
  line-height: 1;
}

.mainPageLogoBottom {
  padding: 0;
  margin: 0;
  text-align: left;
  color: rgb(205, 22, 25);
  font-weight: 100;
  font-size: 18px;
  line-height: 1;
}

.mainPage {
  width: 100%; /*TODO: fix the width of the main menu */
}

.mainPageRecipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mainSearchInput[type="search"] {
  position: absolute;
  right: 0;

  width: 125px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("./public/magnify.svg");
  background-size: 24px 24px;
  background-position: 4px 8px;
  background-repeat: no-repeat;
  padding: 10px 16px 8px 36px;
  transition: width 0.4s ease-in-out;
}

#mainSearchInput[type="search"]:focus {
  width: 280px;
  background-image: url("./public/magnify-red.svg");
  border: 2px solid rgb(205, 22, 25) !important;
}
