.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 4px 0 4px 0;
  width: 100%;
}
.wrapperred {
  display: flex;
  justify-content: space-between;
  padding: 4px 0 4px 0;
  width: 100%;
  background-color: rgba(205, 22, 25, 0.03);
}
.left {
}
.chineseWrapper {
  display: flex;
}
.name {
  font-family: "proxima nova";
  font-size: 20px;
  text-transform: capitalize;
}
.chineseName {
  padding-left: 4px;
  color: rgba(0, 0, 0, 0.37);
}
.notes {
  font-family: "proxima nova";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.37);
  margin-top: -4px;
}
.right {
  font-family: "proxima nova";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.37);
  vertical-align: middle;
  display: flex;
  align-items: center;
}
