.cookStepWrapper {
  display: flex;
  align-items: center;
}
.cookStepCounter {
  margin: 4px 16px 8px 0;
  background-color: rgb(205, 22, 25);
  float: left;
  width: 46px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  border-radius: 1000%;
}
.cookStepCounterNumber {
  margin-top: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800px;
}

.cookStepContent {
  text-align: left;
  font-size: 20px;
}
