.cookStepWrapper {
  display: flex;
  align-items: center;
  margin: 8px 0 4px 0;
}
.cookStepCounter {
  margin: 4px 16px 8px 0;
  background-color: rgb(205, 22, 25);
  float: left;
  width: 46px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  border-radius: 1000%;
}
.cookStepCounterNumber {
  margin-top: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800px;
}

.cookStepContent {
  text-align: left;
  font-size: 20px;
}

.cookStepImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the top */
  margin: 16px 0;
}

.cookStepImageWrapper img {
  max-width: 100%;
  height: auto;
  margin: auto;
  flex-shrink: 0; /* Prevent image from shrinking */
}
