@media only screen and (min-width: 864px) {
  .recipeCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 19px 19px;
    grid-template-areas:
      "cookStepStep1 cookStepStep2 Ingredients"
      "cookStepStep3 cookStepStep4 Ingredients";
  }

  .ingredients {
    grid-area: Ingredients;
  }

  .cookStepStep1 {
    grid-area: cookStepStep1;
  }
  .cookStepStep2 {
    grid-area: cookStepStep2;
  }
  .cookStepStep3 {
    grid-area: cookStepStep3;
  }
  .cookStepStep4 {
    grid-area: cookStepStep4;
  }
}
